<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js">
    </script>
</head>
<body>
    <div id="lista">
        <input type="text" v-model="itemAdd" v-on:change="addItem"/>
         <button v-on:click="addItem">Add</button> <!-- Pode ser v-on:click ou @click -->
        <button v-on:click="removeItem">Apagar</button>

        <ul>
            <li v-for="item in lista">
                {{ item.lista }}
            </li>
        </ul>
    </div>

    <script>
        // Vue 3
        const app = Vue.createApp({
            data() {
                return {
                    itemAdd: '',
                    lista: []
                }
            },
            methods: {
                addItem() {
                    if (this.itemAdd == '') {
                        alert('Você precisa digitar algo!');
                        return;
                    }
                    this.lista.push({
                        lista: this.itemAdd
                    });
                    this.itemAdd = '';
                },

                removeItem(index) {
                    this.lista.splice(index, 1);
                }
            }
        })
        app.mount('#lista')
    </script>
</body>
</html>

