<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js">
    </script>
</head>
<body>
    <div id="app">
        <input type="number" v-model="number1" v-on:change="addNumbers"/>
        <input type="number" v-model="number2" @change="addNumbers"/>
         <button v-on:click="addNumbers">Add</button> <!-- Pode ser v-on:click ou @click -->
         

        <ul>
            <li v-for="item in result">{{ obj }}
                {{ item.operation }} = {{ item.result }}
            </li>
        </ul>
    </div>

    <script>
        // Vue 3
        const app = Vue.createApp({
            data() {
                return {
                    number1: 0,
                    number2: 0,
                    result: []
                }
            },
            methods: {
                addNumbers() {
                    this.result.push({
                       result: this.number1 + this.number2,
                        operation: `${this.number1} + ${this.number2}`
                    })
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>

