<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuCash Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <header>
            <h1>MeuCash Web</h1>
            <nav>
                <button @click="currentView = 'visaoGeral'">Visão Geral</button>
                <button @click="currentView = 'registrar'">Registrar Movimentação</button>
                <button @click="currentView = 'calculadora'">Calculadora</button>
            </nav>
        </header>

        <main>
            <div v-if="currentView === 'visaoGeral'" class="view">
                <visao-geral :saldo="saldo" :transacoes="transacoes"></visao-geral>
            </div>

            <div v-if="currentView === 'registrar'" class="view">
                <registrar-transacao @transacao-adicionada="adicionarTransacao"></registrar-transacao>
            </div>

            <div v-if="currentView === 'calculadora'" class="view">
                <calculadora></calculadora>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>